body {
    background-color: #bc9166;
    background-image: url(919.png);
    color: #3a1d00;
    font-family: BodoniXT;
}

#login-h {
    font-family: Gabriola, Simonetta,"Brush Script MT"  ;
}

#wrapper {
    margin: 0px auto;
    width: 96%;
    text-align: center;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    color: #0d3349;
}

input {
    text-align: center;
    font-size: 1.1em;
    text-overflow: ellipsis;
}


table {
    margin: 0px auto;
    border-spacing: 0px;
    font-size: 1.3em;
}

table button {
    color: #ebcf77;
    font-size: 1.1em;
    background-color: #5c6637;
    border: 2px solid black;
}

td {
    padding-left: 10px;
}

.click {
    cursor: pointer;
    cursor: hand;
}

#controls {
    font-size: 1.4em;
    opacity: 0.8;
    position: fixed;
    bottom: 200px;
    left: 45%;
}

#add-button {
    margin-left: 6px;
    font-size: 11px;
}

.oldtask {
    font-weight: bolder;
    color: darkmagenta;
}

.oldtask .field {
    background: linear-gradient(lightsalmon,lightsalmon,lightsalmon, #5c6637);
    border: 0px;
}

.item {
    height: 55px;
}

.block {
    margin-left: -220px;
    margin-top: 66px;
}

.nodisplay {
    display: none;
}

/* delete button before down screen size */
#deletebtn {
    margin-left: 0px;
}

/* checkbox styling squareone */
.squaredOne {
    width: 28px;
    height: 28px;
    position: relative;
    margin: 20px auto;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
&:after {
     content: '';
     width: 16px;
     height: 16px;
     position: absolute;
     top: 2px;
     left: 2px;
     background: $activeColor;
     background: linear-gradient(top, $activeColor 0%, $darkenColor 100%);
     box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
     opacity: 0;
 }
&:hover::after {
     opacity: 0.3;
 }
}
input[type=checkbox] {
    visibility: hidden;
&:checked + label:after {
     opacity: 1;
 }
}
}
/* end .squaredOne */

@media only screen and (min-width: 380px) {
    .block {
        margin-left: 0px;
        margin-top: 0px;
    }

    #deletebtn {
        margin-left: 60px;
    }

}

@media only screen and (max-height: 580px) {
    #controls {
        bottom: 0px;
    }
}